*{
    margin:0px;
    padding:0px;
}

img{
    width:100%;
    height:auto;
}

body{
    background-color: bisque;
}

/*Grouping Selector*/
h1,h2,h3,h4,h5,h6{
    font-family:'Courier New', Courier, monospace;
}

/* Element Selector*/
 p{
    color:#ffccee;
    border:2px solid #eeffcc;
}
/*class Selector*/
.heading{
    font-size:25px;
    text-decoration: overline;
    font-variant: small-caps;
}
/* Id Selector*/
#container{
    width:1320px;
    min-height:500px;
    background-color:#e8e8eb;
    margin:auto auto;
}
/* Group Selector*/

#topmenu{
    width:100%;
    min-height:50px;
    background-color: antiquewhite;
    border-radius: 0px 0px 50px 50px;
}
#topmenu ul{
    list-style-type: none;
}
#topmenu ul li{
    display: inline-block;
    margin-left:20px;
    margin-right:20px;
}
#topmenu ul li a{
    text-decoration: none;
}
#topmenu ul li a:hover{
    text-decoration: overline;
}

.row{min-height:5px;}
.col100{width:100%;}
.col75{width:75%; float:left;}
.col50{width:50%; float:left;}
.col25{width:25%; float:left; }
.clear{clear:both;}


#social{
    width:50px;
    right:00px;
    background-color:#ff0000;
    min-height:150px;
    position: fixed;
    top:150px;
    border-radius:25px 0px 0px 25px;
}

#social ul{
    list-style-type: none;
}
#social ul li{
    color:#ffffff;
    font-size:25px;
    font-weight: bold;
    margin-left: 10px;
   margin-bottom:10px;
   margin-top:10px;
}

@media screen and (max-width: 992px) {
    body {
    background-color:rgb(35, 65, 162);
    }
    #container{width:960px;}
        .colmd100{width:100%;}
        .colmd50{width:50%; float:left;}
        
    }

@media screen and (max-width: 768px) {
        body {
        background-color:rgb(158, 40, 123);
        }
        #container{width:720px;}
        .colsm100{width:100%;}
        }